.btn-blue {
	background-color: #CD9D49;
	padding: 30px;
	border-radius: 4px;
	color: #F5ECDD;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	box-shadow: #000000 1px 0 22px;
}

a:hover {
    color: #2E220C;
}